footer.footer
	.container.footer__container
		.footer__adv
			span Реклама
			.footer__adv-tooltip
				.footer__adv-tooltip-block.
					erid: x <br>
					Рекламодатель: x <br>
					ИНН/ОГРН: x <br>
					<a href="#" target="_blank">x</a>
