footer.footer
	.container.footer__container
		a.footer__logo(href='#', target='_blank')
			+icon('logo-tantor-2')
		.footer__menu
			a.footer__menu-link(href='#', target='_blank') Новости
			a.footer__menu-link(href='#', target='_blank') Кейсы
			a.footer__menu-link.footer__menu-link--accent(href='#', target='_blank') Связаться с Tantor
		//.footer__adv
			span Реклама
			.footer__adv-tooltip
				.footer__adv-tooltip-block.
					erid: x <br>
					Рекламодатель: x <br>
					ИНН/ОГРН: x <br>
					<a href="#" target="_blank">x</a>
