header.header
	.container.header__container
		a.header__logo(href='#', target='_blank')
			+icon('logo-tantor', 'header__logo-icon')
		.header__menu
			a.header__menu-item(href='#')
				span Замещение СУБД <br> в core-системах
			a.header__menu-item.active(href='#') Горизонтальное масштабирование, <br> HTAP и совместимость с PostgreSQL
			a.header__menu-item(href='#') Центр управления <br> корпоративными СУБД
			a.header__menu-item(href='#') Новая СУБД <br> Tantor Postgres 18
			a.header__menu-item(href='#') 5 лет <br> «Тантор Лабс»
