.about {
	padding: 63px 0 80px;
	border-bottom: 1px solid $color-text;

	@include min(dxxl) {
		padding: vw(63) 0 vw(80);
	}

	&__top {
		display: flex;
		flex-direction: column;
		gap: 42px;

		@include min(dxxl) {
			gap: vw(42);
		}

		@include max(tl) {
			gap: 30px;
		}
	}

	&__title {
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		opacity: 0;
		transform: translateY(10px);

		@include min(dxxl) {
			font-size: vw(48);
		}

		@include max(d) {
			width: calc(52% - 45px);
			font-size: fluid(40, 48, 992, 1280);
			transform: unset;
		}

		@include max(tl) {
			width: 100%;
			font-size: fluid(34, 40, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(24, 34, 0, 768);
		}
	}

	&__text {
		padding-top: 16px;
		color: rgba($color-text, 0.6);
		font-size: 18px;
		line-height: 1.2;
		text-align: center;
		opacity: 0;
		transform: translateY(10px);

		@include min(dxxl) {
			font-size: vw(16);
		}

		@include max(d) {
			padding-top: 0;
		}
	}

	&__bottom {
		display: flex;
		justify-content: center;
		gap: 76px;
		margin-top: 56px;
		padding-left: 75px;

		@include min(dxxl) {
			gap: vw(76);
			margin-top: vw(56);
			padding-left: vw(75);
		}

		@include max(d) {
			padding-left: 0;
			gap: 45px;
		}

		@include max(tl) {
			flex-direction: column;
			gap: 30px;
		}
	}

	&__charts {
		position: relative;
		width: 514px;
		max-width: 100%;

		@include min(dxxl) {
			width: vw(514);
		}

		@include max(d) {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		@include max(tl) {
			order: 1;
			align-items: center;
		}
	}

	&__content {
		width: calc(45.6% - 10px);
		padding-top: 10px;
		opacity: 0;
		transform: translateY(10px);

		@include min(dxxl) {
			padding-top: vw(10);
		}

		@include max(d) {
			transform: unset;
		}

		@include max(tl) {
			width: 100%;
			padding-top: 0;
		}
	}

	&__description {
		font-size: 24px;
		line-height: 1.2;
		margin-top: 47px;

		@include min(dxxl) {
			font-size: vw(24);
			margin-top: vw(47);
		}

		@include max(d) {
			font-size: fluid(19, 20, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(18, 19, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(16, 18, 0, 768);
		}

		p + p {
			margin-top: 25px;

			@include min(dxxl) {
				margin-top: vw(25);
			}

			@include max(t) {
				margin-top: 15px;
			}
		}
	}

	&__link {
		margin-top: 46px;

		@include min(dxxl) {
			margin-top: vw(46);
		}

		@include max(ti) {
			margin-top: 20px;
		}
	}
}
