.advantages {
	height: auto !important;
	padding: 35px 0 0;
	border-bottom: 1px solid rgba($color-text, 0.3);

	@include min(dxxl) {
		padding: vw(35) 0 0;
	}

	@include max(d) {
		padding: 50px 0 0;
	}

	&__title {
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		opacity: 0;
		transform: translateY(10px);

		@include min(dxxl) {
			font-size: vw(48);
		}

		@include max(d) {
			font-size: fluid(40, 48, 992, 1280);
			opacity: 1;
			transform: none;
		}

		@include max(tl) {
			font-size: fluid(34, 40, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(24, 34, 0, 768);
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		padding-left: 44px;
		padding-bottom: 61px;
		margin-top: 40px;

		@include min(dxxl) {
			gap: vw(20);
			padding-left: vw(44);
			padding-bottom: vw(61);
			margin-top: vw(40);
		}

		@include max(d) {
			flex-direction: column;
			padding-left: 0;
			padding-bottom: 40px;
		}
	}

	&__text {
		max-width: 100%;
		font-size: 24px;
		line-height: 1.2;
		opacity: 0;
		transform: translateY(10px);

		@include min(dxxl) {
			font-size: vw(24);
		}

		@include max(d) {
			opacity: 1;
			transform: none;
		}

		@include max(ti) {
			font-size: 18px;
		}

		&--full {
			max-width: 100%;
		}

		b {
			color: $color-accent;
		}

		p + p {
			margin-top: 20px;

			@include min(dxxl) {
				margin-top: vw(20);
			}
		}

		sup {
			font-size: 12px;

			@include min(dxxl) {
				font-size: vw(12);
			}
		}
	}

	&__net {
		flex-grow: 1;
		position: relative;
		max-width: 700px;
		width: 100%;
		min-width: 700px;
		height: 450px;
		opacity: 0;
		transform: translateY(10px);

		@include min(dxxl) {
			max-width: vw(700);
			min-width: vw(700);
			height: vw(450);
		}

		@include max(d) {
			min-width: 0;
			opacity: 1;
			transform: none;
		}
	}

	&__net-labels {
		position: absolute;
		top: 0;
		left: 0;

		@include max(450) {
			display: none;
		}

		span {
			position: absolute;
			color: rgba($color-text, 0.6);
			font-family: $secondFont;
			font-size: 16px;
			white-space: nowrap;

			@include min(dxxl) {
				font-size: vw(16);
			}

			@include max(dl) {
				white-space: unset;
			}

			@include max(ti) {
				font-size: 12px;
			}

			&:nth-child(odd) {
				animation: fastRotate 0.5s ease infinite;
			}

			&:nth-child(even) {
				animation: fastRotateReverse 0.5s ease infinite;
			}

			&:first-child {
				top: 155px;
				left: 17px;

				@include min(dxxl) {
					top: vw(155);
					left: vw(17);
				}

				@include max(ti) {
					left: 0;
				}
			}

			&:nth-child(2) {
				top: 300px;
				left: 60px;

				@include min(dxxl) {
					top: vw(300);
					left: vw(60);
				}

				@include max(ti) {
					left: 4vw;
				}
			}

			&:nth-child(3) {
				top: 230px;
				left: 498px;

				@include min(dxxl) {
					top: vw(230);
					left: vw(498);
				}

				@include max(ti) {
					left: 69vw;
				}
			}

			&:nth-child(4) {
				top: 390px;
				left: 410px;

				@include min(dxxl) {
					top: vw(390);
					left: vw(410);
				}

				@include max(ti) {
					left: 55vw;
				}
			}
		}
	}

	&__images {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		width: 280px;
		height: 200px;
		pointer-events: none;

		@include min(dxxl) {
			width: vw(280);
			height: vw(200);
		}
	}

	&__image {
		position: absolute;

		&--1 {
			top: 75%;
			left: 27%;
			width: 74px;
			height: 150px;
			transform: translate(-50%, -50%) rotate(-11deg);

			@include min(dxxl) {
				width: vw(74);
				height: vw(150);
			}
		}

		&--2 {
			top: 54%;
			left: 46%;
			width: 93px;
			height: 165px;
			transform: translate(-50%, -50%) rotate(-9deg);

			@include min(dxxl) {
				width: vw(93);
				height: vw(165);
			}
		}

		&--3 {
			left: 56%;
			width: 94px;
			height: 200px;

			@include min(dxxl) {
				width: vw(94);
				height: vw(200);
			}
		}
	}

	&__graphs {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

	&__bottom {
		background-color: $white;
		border-top: 1px solid rgba($color-text, 0.3);
		padding: 120px 0 0;
		//overflow: hidden;

		@include min(dxxl) {
			padding: vw(120) 0 0;
		}
	}

	&__container-bottom {
		display: flex;

		@include max(d) {
			gap: 30px;
		}

		@include max(tl) {
			flex-direction: column;
		}
	}

	&__col {
		position: relative;

		@include max(d) {
			width: 60%;
		}

		@include max(tl) {
			width: 100%;
		}

		&:first-child {
			width: 52%;
			max-width: 755px;

			@include min(dxxl) {
				max-width: vw(755);
			}
		}

		&:last-child {
			width: 48%;
			min-height: 500px;
			opacity: 0;
			transform: translateY(10px);

			@include min(dxxl) {
				min-height: vw(500);
			}

			@include max(d) {
				width: 39%;
				min-height: auto;
				opacity: 1;
				transform: none;
			}

			@include max(tl) {
				width: 100%;
			}
		}
	}

	&__model-static {
		position: relative;
		z-index: 1;
		width: 290px;
		margin-top: -170px;
		filter: brightness(150%);
		opacity: 1;
		transform: translateX(-30vw);

		@include min(dxxl) {
			width: vw(290);
			margin-top: vw(-170);
		}

		@include max(d) {
			opacity: 1;
			transform: unset;
		}

		@include max(t) {
			margin-top: -70px;
			max-width: 200px;
			margin-left: -30px;
		}
	}

	&__eleph {
		position: absolute;
		top: 0;
		mix-blend-mode: exclusion;
		pointer-events: none;
		margin-top: -200px;
		margin-left: 40px;

		@include min(dxxl) {
			margin-top: vw(-100);
			margin-left: vw(40);
		}

		@include max(d) {
			left: 70px;
			margin-top: 0;
			margin-left: 0;
		}

		@include max(t) {
			top: -75px;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 30px;
		position: absolute;
		top: 70px;
		left: 28%;

		@include min(dxxl) {
			gap: vw(30);
			top: vw(70);
		}

		@include max(d) {
			top: 0;
			left: 220px;
		}

		@include max(t) {
			top: 0;
			left: 124px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		font-family: $secondFont;
		font-size: 18px;
		opacity: 0;
		transform: translateX(-10px);

		@include min(dxxl) {
			gap: vw(10);
			font-size: vw(18);
		}

		@include max(t) {
			font-size: 12px;
		}

		&::before {
			content: "";
			min-width: 93px;
			max-width: 93px;
			height: 1px;
			background-color: $black;

			@include min(dxxl) {
				min-width: vw(93);
				max-width: vw(93);
				height: vw(1);
			}

			@include max(t) {
				min-width: 50px;
				max-width: 50px;
			}
		}
	}

	&__link {
		margin-top: 50px;

		@include min(dxxl) {
			margin-top: vw(50);
		}
	}
}
