.blob {
	position: absolute;

	&--1 {
		width: 1283px;
		height: 1283px;
		left: -400px;
		bottom: -800px;

		@include max(d) {
			left: 50%;
			bottom: -400px;
			transform: translateX(-50%);
		}
	}

	&--2 {
		width: 1137px;
		height: 912px;
		top: 50%;
		left: 50%;
		opacity: 0;
		transform: translate(-50%, -50%) rotate(126deg);
	}
}