.board {
	$parent: &;

	display: flex;
	align-items: center;
	gap: 16px;
	opacity: 0;
	transform: translateX(-10px);

	@include max(ti) {
		flex-direction: column;
	}

	@include max(450) {
		align-items: flex-start;
	}

	&--light {
		#{$parent} {
			&__line::before {
				background-color: rgba($color-text, 0.6);
			}

			&__icon {
				color: rgba($color-text, 0.6);
			}

			&__text {
				color: rgba($color-text, 0.6);
			}
		}
	}

	&__line {
		flex-shrink: 0;
		position: relative;
		width: 124px;
		height: 1px;
		background-color: rgba($color-text, 0.3);

		@include max(ti) {
			display: none;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 28px;
			height: 1px;
			background-color: $color-text;
		}
	}

	&__icon {
		color: $color-text;
		flex-shrink: 0;
		width: 200px;
		height: 37px;

		@include max(ti) {
			order: 1;
			max-width: 100%;
			width: auto;
		}

		@include max(450) {
			height: 56px;
		}
	}

	&__text {
		flex-shrink: 0;
		font-family: $secondFont;
		font-size: 16px;

		@include max(tl) {
			font-size: 12px;
		}
	}
}
