.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	padding: 8px 12px 8px 4px;
	box-sizing: border-box;
	background-color: $color-button-bg;
	color: $color-button-text;
	border: 1px solid $color-text;
	font-family: $secondFont;
	font-size: 20px;
	line-height: 1.2;
	cursor: pointer;
	transition: 0.3s ease;

	@include max(d) {
		font-size: fluid(18, 20, 992, 1280);
	}

	@include max(tl) {
		font-size: fluid(16, 18, 768, 992);
	}

	@include max(ti) {
		font-size: fluid(13, 16, 0, 768);
	}

	&:hover {
		background-color: rgba($color-button-bg, 0.7);
	}

	svg {
		flex-shrink: 0;
		color: $color-button-text;
		width: 24px;
		height: 24px;
	}

	&--black {
		background-color: $color-text;
	}
}