.footer {
	padding: 84px 0 42px;

	@include min(dxxl) {
		padding: vw(84) 0 vw(42);
	}

	@include max(ti) {
		padding: 40px 0 60px;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 20px;

		@include min(dxxl) {
			gap: vw(20);
		}

		@include max(ti) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 35px;
		}
	}

	&__logo {
		width: 247px;
		height: 98px;

		@include min(dxxl) {
			width: vw(247);
			height: vw(98);
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 18px;

		@include min(dxxl) {
			gap: vw(18);
		}

		@include max(ti) {
			flex-direction: column;
			gap: 35px;
		}
	}

	&__menu-link {
		position: relative;
		font-size: 18px;
		padding: 0 12px;

		@include min(dxxl) {
			font-size: vw(18);
			padding: 0 vw(12);
		}

		&:hover {
			&::before {
				transform: translateX(-6px);
			}

			&::after {
				transform: translateX(6px);
			}
		}

		&--accent {
			color: $color-accent;
		}

		&::before,
		&::after {
			position: absolute;
			transition: 0.3s ease;
		}

		&::before {
			content: "[";
			left: 0;
		}

		&::after {
			content: "]";
			right: 0;
		}
	}
}
