.gallery {
	position: relative;
	min-height: 100vh;
	border-bottom: 1px solid $color-text;

	@include max(d) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		padding: 80px 0;
	}

	@include max(ti) {
		padding: 40px 0;
	}

	&__container {
		order: -1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		padding-bottom: 106px;

		@include min(dxxl) {
			padding-bottom: vw(106);
		}

		@include max(d) {
			justify-content: flex-start;
			min-height: auto;
			padding-bottom: 60px;
		}

		@include max(tl) {
			padding-bottom: 40px;
		}
	}

	&__logo-icon {
		position: relative;
		width: 390px;
		height: 95px;
		top: 200px;

		@media (min-height: 900px) and (min-width: 1280px) {
			width: 657px;
			height: 160px;
		}

		@include min(dxxl) {
			width: vw(390);
			height: vw(95);
			top: vw(200);
		}

		@include max(d) {
			top: 0;
			width: 390px;
			height: 95px;
			opacity: 0;
		}

		@include max(t) {
			width: 280px;
			height: 68px;
		}
	}

	&__image {
		position: absolute;
		border: 1px solid $black;
		opacity: 0;

		@include max(d) {
			position: relative;
			top: unset !important;
			bottom: unset !important;
			left: unset !important;
			right: unset !important;
			object-fit: cover;
			height: 200px;
		}

		&--1 {
			width: 308px;
			height: 363px;
			top: -8px;
			left: 4%;

			@include min(dxxl) {
				width: vw(308);
				height: vw(363);
				top: vw(-8);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}

		&--2 {
			width: 283px;
			height: 188px;
			top: 13%;
			left: 19%;

			@include min(dxxl) {
				width: vw(283);
				height: vw(188);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}

		&--3 {
			width: 420px;
			height: 307px;
			top: 2%;
			right: 8.6%;

			@include min(dxxl) {
				width: vw(420);
				height: vw(307);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}

		&--4 {
			width: 299px;
			height: 199px;
			top: 22%;
			right: 2%;

			@include min(dxxl) {
				width: vw(299);
				height: vw(199);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}

		&--5 {
			width: 355px;
			height: 420px;
			top: 63%;
			left: 11%;

			@include min(dxxl) {
				width: vw(355);
				height: vw(420);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}

		&--6 {
			width: 272px;
			height: 181px;
			top: 56%;
			left: 3%;

			@include min(dxxl) {
				width: vw(272);
				height: vw(181);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}

		&--7 {
			width: 348px;
			height: 411px;
			top: 73%;
			right: 8%;

			@include min(dxxl) {
				width: vw(348);
				height: vw(411);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}

		&--8 {
			width: 238px;
			height: 158px;
			top: 68%;
			right: 24.5%;

			@include min(dxxl) {
				width: vw(238);
				height: vw(158);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}

		&--9 {
			width: 263px;
			height: 175px;
			top: 61%;
			right: 3.5%;

			@include min(dxxl) {
				width: vw(263);
				height: vw(175);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}

		&--10 {
			width: 331px;
			height: 220px;
			top: 2%;
			right: 2%;
			opacity: 0;

			@include min(dxxl) {
				width: vw(331);
				height: vw(220);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}

		&--11 {
			width: 329px;
			height: 218px;
			top: 73%;
			left: 2%;
			opacity: 0;

			@include min(dxxl) {
				width: vw(329);
				height: vw(218);
			}

			@include max(d) {
				width: auto;
				height: auto;
			}
		}
	}

	&__text {
		max-width: 870px;
		font-size: 24px;
		line-height: 1.2;
		text-align: center;
		margin-top: 75px;
		opacity: 0;
		transform: translateY(10px);

		@include min(dxxl) {
			max-width: vw(870);
			font-size: vw(24);
			margin-top: vw(75);
		}

		@include max(d) {
			font-size: fluid(19, 20, 992, 1280);
			transform: unset;
		}

		@include max(tl) {
			font-size: fluid(18, 19, 768, 992);
			margin-top: 40px;
		}

		@include max(ti) {
			font-size: fluid(16, 18, 0, 768);
		}

		p + p {
			margin-top: 15px;
		}
	}

	&__link {
		margin-top: 54px;
		opacity: 0;
		transform: translateY(10px);

		@include min(dxxl) {
			margin-top: vw(54);
		}

		@include max(d) {
			transform: unset;
		}

		@include max(tl) {
			margin-top: 40px;
		}
	}
}
