.hero {
	position: relative;
	height: auto !important;

	&__title {
		padding: 106px 0 36px;
		font-size: 64px;
		line-height: 1.2;
		text-align: center;
		box-sizing: border-box;
		opacity: 0;
		transform: translateY(20px);

		@include min(dxxl) {
			font-size: vw(64);
			padding: vw(106) 0 vw(36);
		}

		@include max(d) {
			font-size: fluid(52, 64, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(44, 52, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(28, 44, 0, 768);
		}

		span {
			color: $color-accent;
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		border-top: 1px solid rgba($color-text, 0.3);
		border-bottom: 1px solid rgba($color-text, 0.3);
		overflow: hidden;
		height: calc(80vh - 76px);
		min-height: 788px;

		@include min(dxxl) {
			height: calc(80vh - (76 / 1920) * 100vw);
			min-height: vw(788);
		}

		@include max(d) {
			flex-direction: column;
			align-items: center;
			height: auto;
		}
	}

	&__left,
	&__right {
		position: relative;
		width: 50%;
		box-sizing: border-box;

		@include max(d) {
			width: 100%;
		}
	}

	&__left {
		padding: 21px 48px 183px 0;

		@include min(dxxl) {
			padding: vw(21) vw(48) vw(183) 0;
		}

		@include max(d) {
			height: 100%;
			padding: 21px 20px 100px;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 72px;
		padding: 26px;
		border-left: 1px solid rgba($color-text, 0.3);

		@include min(dxxl) {
			gap: vw(72);
			padding: vw(26);
		}

		@include max(d) {
			order: -1;
			gap: 20px;
			border-left: 0;
		}
	}

	&__text {
		position: relative;
		z-index: 1;
		font-size: 24px;
		line-height: 1.2;

		@include min(dxxl) {
			font-size: vw(24);
		}

		@include max(d) {
			font-size: fluid(19, 20, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(18, 19, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(16, 18, 0, 768);
		}

		span {
			display: inline-block;
			opacity: 0;
			transform: translateX(-20px);
		}

		&::before {
			content: "";
			position: absolute;
			top: 5px;
			left: -27px;
			width: 2px;
			height: 34px;
			background-color: $color-text;

			@include min(dxxl) {
				top: vw(5);
				left: vw(-27);
				width: vw(2);
				height: vw(34);
			}
		}
	}

	&__machines {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		width: max-content;
		margin-left: auto;

		@include max(d) {
			align-items: center;
			justify-content: center;
			max-width: 100%;
			width: 660px;
			margin: 0 auto;
		}
	}

	&__machine {
		position: relative;

		&--1 {
			z-index: 2;
			margin-right: -88px;
			margin-bottom: -86px;
			transform: rotate(-11deg);
			left: -30px;
			bottom: 30px;

			@include min(dxxl) {
				margin-right: vw(-88);
				margin-bottom: vw(-86);
				left: vw(-30);
				bottom: vw(-30);
			}

			@include max(d) {
				left: 5vw;
				bottom: -10vw;
				margin-right: unset;
				margin-bottom: unset;
			}

			img {
				@include min(dxxl) {
					width: vw(190);
					height: vw(385);
				}
			}
		}

		&--2 {
			z-index: 1;
			margin-right: -38px;
			margin-bottom: 40px;
			transform: rotate(-9deg);

			@include min(dxxl) {
				margin-right: vw(-38);
				margin-bottom: vw(40);
			}

			@include max(d) {
				margin-right: unset;
				margin-bottom: unset;
			}

			img {
				@include min(dxxl) {
					width: vw(239);
					height: vw(423);
				}
			}
		}

		&--3 {
			@include max(d) {
				right: 6vw;
			}

			img {
				@include min(dxxl) {
					width: vw(243);
					height: vw(516);
				}
			}
		}
	}

	&__labels {
		position: absolute;
		inset: 0;
		z-index: 2;

		@include max(d) {
			inset: unset;
			top: 0;
			bottom: 0;
			max-width: 670px;
			width: 100%;
		}
	}

	&__label {
		position: absolute;
		font-family: $secondFont;
		color: $color-background;
		font-size: 20px;
		white-space: nowrap;

		@include min(dxxl) {
			font-size: vw(20);
		}

		@include max(ti) {
			font-size: 14px;
		}

		&--1 {
			bottom: -1%;
			right: 370px;
			transform: rotate(-12deg);
			animation: centeredRotateReverse 4s linear infinite;

			@include min(dxxl) {
				right: vw(370);
			}

			@include max(d) {
				right: unset;
				bottom: 10%;
				left: 11%;
			}
		}

		&--2 {
			bottom: 36%;
			right: 302px;
			transform: rotate(6deg);
			animation: centeredRotate 4s linear infinite;

			@include min(dxxl) {
				right: vw(302);
			}

			@include max(d) {
				right: unset;
				left: 30%;
			}
		}

		&--3 {
			bottom: 10%;
			right: 107px;
			transform: rotate(-38deg);
			animation: centeredRotateReverse 4s linear infinite;

			@include min(dxxl) {
				right: vw(107);
			}

			@include max(d) {
				right: unset;
				left: 64%;
			}
		}
	}

	&__plus {
		position: absolute;
		bottom: -6px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		width: 14px;
		height: 14px;

		@include min(dxxl) {
			bottom: vw(-6);
			width: vw(14);
			height: vw(14);
		}
	}

	&__car {
		position: absolute;
		bottom: -2px;
		right: 10vw;

		@include min(dxxl) {
			bottom: vw(-2);
			right: vw(80);
		}

		img {
			@include min(dxxl) {
				width: vw(78);
				height: vw(78);
			}
		}
	}
}
