.migration {
	padding: 142px 0 40px;
	border-bottom: 1px solid $color-text;

	@include min(dxxl) {
		padding: vw(142) 0 vw(40);
	}

	@include max(d) {
		padding: 80px 0 40px;
	}

	@include max(ti) {
		padding: 40px 0;
	}

	&__title {
		font-size: 48px;
		line-height: 1.2;
		text-align: center;

		@include min(dxxl) {
			font-size: vw(48);
		}

		@include max(d) {
			font-size: fluid(40, 48, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(34, 40, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(24, 34, 0, 768);
		}
	}

	&__marquee {
		display: flex;
		align-items: center;
		overflow: hidden;
		margin-top: 53px;
		user-select: none;
		white-space: nowrap;

		@include min(dxxl) {
			margin-top: vw(53);
		}

		@include max(ti) {
			margin-top: 30px;
		}

		span {
			font-family: $secondFont;
			color: rgba($color-text, 0.6);
			font-size: 16px;
			white-space: nowrap;

			@include min(dxxl) {
				font-size: vw(16);
			}

			&.divider {
				color: $color-accent;
				margin: 0 48px;

				@include min(dxxl) {
					margin: 0 vw(48);
				}
			}
		}
	}

	&__marquee-inner {
		display: flex;
		align-items: center;
		flex-shrink: 0;
	}

	&__wrapper {
		display: flex;
		gap: 85px;
		margin-top: 77px;

		@include min(dxxl) {
			gap: vw(85);
			margin-top: vw(77);
		}

		@include max(ti) {
			margin-top: 30px;
		}

		@include max(d) {
			gap: 40px;
		}

		@include max(tl) {
			flex-direction: column;
		}
	}

	&__video {
		max-width: 45%;
		flex: 1;
		aspect-ratio: 14/8;

		@include max(tl) {
			max-width: 100%;
		}
	}

	&__content {
		flex: 1;
		padding-top: 11px;

		@include min(dxxl) {
			padding-top: vw(11);
		}
	}

	&__quote {
		font-size: 32px;
		line-height: 1.2;

		@include min(dxxl) {
			font-size: vw(32);
		}

		@include max(d) {
			font-size: fluid(28, 32, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(24, 28, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(20, 24, 0, 768);
		}

		br {
			@include max(d) {
				display: none;
			}
		}

		span {
			color: $color-accent;
		}

		sup {
			font-size: 20px;

			@include min(dxxl) {
				font-size: vw(20);
			}

			@include max(d) {
				font-size: fluid(18, 20, 992, 1280);
			}

			@include max(tl) {
				font-size: fluid(16, 18, 768, 992);
			}

			@include max(ti) {
				font-size: fluid(14, 16, 0, 768);
			}
		}
	}

	&__person {
		display: flex;
		align-items: center;
		gap: 16px;
		margin-top: 26px;

		@include min(dxxl) {
			gap: vw(16);
			margin-top: vw(26);
		}
	}

	&__person-image {
		min-width: 60px;
		max-width: 60px;
		height: 60px;
		border-radius: 50%;
		object-fit: cover;

		@include min(dxxl) {
			min-width: vw(60);
			max-width: vw(60);
			height: vw(60);
		}
	}

	&__name {
		font-size: 24px;

		@include min(dxxl) {
			font-size: vw(24);
		}
	}

	&__position {
		color: rgba($color-text, 0.6);
		font-size: 16px;
		margin-top: 5px;

		@include min(dxxl) {
			font-size: vw(16);
			margin-top: vw(5);
		}
	}

	&__link {
		max-width: 261px;
		width: 100%;
		margin-top: 61px;

		@include min(dxxl) {
			max-width: vw(261);
			margin-top: vw(61);
		}

		@include max(tl) {
			margin-top: 30px;
		}
	}
}
