.product-card {
	max-width: 704px;
	width: 100%;
	border-radius: 8px;
	border: 1px solid $color-border;
	background-color: $white;
	padding: 25px 25px 0;

	@include min(dxxl) {
		max-width: vw(704);
		border-radius: vw(8);
		padding: vw(25) vw(25) 0;
	}

	@include max(tl) {
		max-width: 600px;
	}

	@include max(ti) {
		max-width: 420px;
	}

	@include max(620) {
		max-width: 360px;
	}

	@include max(t) {
		max-width: 100%;
	}

	&__image-wrapper {
		border-radius: 4px;
		overflow: hidden;
		border: 1px solid $color-border;

		@include min(dxxl) {
			border-radius: vw(4);
		}

		img {
			min-height: 365px;
			aspect-ratio: 16/9;

			@include min(dxxl) {
				min-height: vw(365);
			}

			@include max(d) {
				min-height: auto;
			}
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
		font-family: $secondFont;
		font-size: 20px;
		line-height: 1.2;
		text-align: center;

		@include min(dxxl) {
			height: vw(80);
			font-size: vw(20);
		}

		@include max(ti) {
			font-size: 16px;
		}
	}
}
