.product-card {
	max-width: 704px;
	width: 100%;
	border-radius: 8px;
	border: 1px solid $color-border;
	background-color: $white;
	padding: 25px 25px 0;

	&__image-wrapper {
		border-radius: 4px;
		overflow: hidden;
		border: 1px solid $color-border;
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
		font-family: $secondFont;
		font-size: 20px;
		line-height: 1.2;
		text-align: center;
	}
}
