.server {
	position: relative;
	width: 100%;
	height: auto !important;
	border-bottom: 1px solid rgba($color-text, 0.3);
	overflow: hidden;
	transition: background-color 0.3s ease;

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 99vh;
		min-height: 1000px;
		max-height: 1000px;

		@media (min-height: 900px) and (min-width: 1280px) {
			min-height: 1200px;
			max-height: 1200px;
		}

		@include min(dxxl) {
			min-height: vw(1000);
			max-height: vw(1000);
		}

		@include max(d) {
			min-height: auto;
			max-height: unset;
			height: auto;
		}

		& > picture {
			@include max(d) {
				order: -1;
			}
		}
	}

	&__model {
		position: absolute;
		inset: 0;
		z-index: 2;
		width: 100%;
		min-height: 1000px;
		max-height: 1000px;
		margin-top: -30px;
		opacity: 0;
		pointer-events: none;

		@media (min-height: 900px) and (min-width: 1280px) {
			min-height: 1200px;
			max-height: 1200px;
			margin-top: -50px;
		}

		@include min(dxxl) {
			min-height: vw(1200);
			max-height: vw(1200);
			margin-top: vw(-50);
		}

		@media (min-width: 1920px) and (min-aspect-ratio: 21/10) {
			min-height: vw(1100);
			max-height: vw(1100);
			margin-top: vw(-50);
		}

		@include max(d) {
			margin-top: 0;
		}
	}

	&__captions {
		position: absolute;
		display: flex;
		justify-content: center;
		width: 100%;
		//opacity: 0;
		transform: translateY(30vh);

		@include max(d) {
			order: -2;
			flex-direction: column;
			position: relative;
			gap: 30px;
			padding-top: 20px;
			//opacity: 1;
			transform: unset;
		}

		@include max(ti) {
			margin-bottom: 40px;
		}
	}

	&__caption {
		width: 50%;
		flex-shrink: 0;
		position: relative;
		opacity: 0;

		@include max(d) {
			width: 100%;
			opacity: 0;
		}

		&--1 {
			text-align: right;
			transform: translateX(-21vh);

			@include max(d) {
				transform: translateX(0);
				text-align: center;
			}
		}

		&--2 {
			transform: translate(17vh, 50px);

			@include max(d) {
				transform: translate(0);
				text-align: center;
			}
		}
	}

	&__model-static {
		display: none;

		@include max(d) {
			display: block;
			margin-top: 30px;
		}

		@include max(ti) {
			margin-bottom: 30px;
		}
	}

	&__slider-content {
		opacity: 0;

		@include max(d) {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 12px;
			order: -1;
			opacity: 1;
		}
	}

	&__config {
		position: absolute;
		top: 254px;
		left: calc(50% + 100px);
		display: flex;
		align-items: center;
		gap: 13px;
		font-family: $secondFont;
		font-size: 16px;
		opacity: 0;

		@media (min-height: 900px) and (min-width: 1280px) {
			top: 275px;
			left: calc(50% + 125px);
		}

		@include min(dxxl) {
			top: vw(275);
			left: calc(50% + (120 / 1920) * 100vw);
			gap: vw(13);
			font-size: vw(16);
		}

		@include max(d) {
			top: unset;
			bottom: 282px;
			left: 290px;
		}

		@include max(ti) {
			bottom: 533px;
		}

		@include max(t) {
			bottom: 611px;
		}

		@include max(450) {
			bottom: 973px;
		}

		span {
			@include max(t) {
				position: absolute;
				left: -94px;
				white-space: nowrap;
				transform: rotate(-90deg);
			}
		}

		svg {
			width: 28px;
			height: 240px;

			@media (min-height: 900px) and (min-width: 1280px) {
				height: 304px;
			}

			@include min(dxxl) {
				width: vw(28);
				height: vw(304);
			}

			@media (min-width: 1920px) and (min-aspect-ratio: 21/10) {
				width: vw(28);
				height: vw(250);
			}
		}
	}

	&__boards {
		position: absolute;
		top: 100px;
		left: calc(50% + 70px);
		display: flex;
		flex-direction: column;
		gap: 12px;

		@media (min-height: 900px) and (min-width: 1280px) {
			top: 120px;
		}

		@include min(dxxl) {
			top: vw(120);
			left: calc(50% + (70 / 1920) * 100vw);
			gap: vw(12);
		}

		@media (min-width: 1920px) and (min-aspect-ratio: 21/10) {
			top: vw(120);
		}

		@include max(d) {
			top: unset;
			bottom: 625px;
			left: 250px;
		}

		@include max(tl) {
			left: 230px;
		}

		@include max(ti) {
			position: relative;
			bottom: unset;
			left: 0;
			order: -1;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}

		@include max(t) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include max(450) {
			grid-template-columns: repeat(1, 1fr);
		}

		.board {
			&:nth-child(even) {
				margin-left: -30px;

				@include min(dxxl) {
					margin-left: vw(-30);
				}

				@include max(ti) {
					margin-left: 0;
				}
			}
		}

		&--bottom {
			top: 486px;

			@media (min-height: 900px) and (min-width: 1280px) {
				top: 590px;
			}

			@include min(dxxl) {
				top: vw(590);
			}

			@media (min-width: 1920px) and (min-aspect-ratio: 21/10) {
				top: vw(520);
			}

			@include max(d) {
				top: unset;
				bottom: 50px;
			}

			@include max(ti) {
				order: 0;
				bottom: unset;
			}

			.board {
				&:nth-child(odd) {
					margin-left: -30px;

					@include min(dxxl) {
						margin-left: vw(-30);
					}

					@include max(ti) {
						margin-left: 0;
					}
				}

				&:nth-child(even) {
					margin-left: 0;
				}
			}
		}
	}

	&__widgets {
		position: relative;
		margin-top: 37px;

		@include min(dxxl) {
			margin-top: vw(37);
		}
	}

	&__widget {
		position: absolute;
		top: 0;
		left: 0;

		@include max(d) {
			position: relative;
			top: 0;
			left: 0;
			max-width: 100%;
			margin-top: 40px;
		}

		&--2 {
			left: 375px;
			max-width: 344px;

			@include min(dxxl) {
				left: vw(375);
				max-width: vw(344);
			}

			@include max(d) {
				top: 0;
				left: 0;
				max-width: 100%;
			}
		}

		&--3 {
			top: 30px;
			left: 735px;
			max-width: 252px;

			@include min(dxxl) {
				top: vw(30);
				left: vw(735);
				max-width: vw(252);
			}

			@include max(1560) {
				top: -135px;
				left: 550px;
			}

			@include max(d) {
				top: 0;
				left: 0;
				max-width: 100%;
			}
		}
	}
}
