.server-slider {
	$parent: &;

	position: relative;
	max-width: 37.6%;
	margin: auto 0;
	padding-bottom: 60px;
	opacity: 0;
	transform: translateX(-10px);

	@media (max-height: 800px) and (min-width: 1280px) {
		top: -80px;
	}

	@include min(dxxl) {
		padding-bottom: vw(60);
	}

	@include max(d) {
		order: 1;
		max-width: 100%;
		margin-top: 40px;
	}

	/*.swiper-slide-active #{$parent}__filler span {
		width: 100%;
		transition: width 6s linear;
	}*/

	&__subtitle {
		color: $black;
		font-size: 18px;

		@include min(dxxl) {
			font-size: vw(18);
		}
	}

	&__filler {
		position: relative;
		width: 100%;
		height: 1px;
		background-color: rgba($color-text, 0.3);
		margin-top: 15px;

		@include min(dxxl) {
			height: vw(1);
			margin-top: vw(15);
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 34px;
			height: 2px;
			background-color: $color-text;

			@include min(dxxl) {
				width: vw(34);
				height: vw(2);
			}
		}
	}

	&__title {
		font-weight: 600;
		font-size: 36px;
		line-height: 1.2;
		margin-top: 32px;

		@include min(dxxl) {
			font-size: vw(36);
			margin-top: vw(32);
		}
	}

	&__text {
		font-size: 18px;
		line-height: 1.2;
		margin-top: 16px;

		@include min(dxxl) {
			font-size: vw(18);
			margin-top: vw(16);
		}

		p + p {
			margin-top: 20px;

			@include min(dxxl) {
				margin-top: vw(20);
			}
		}
	}

	&__link {
		margin-top: 50px;

		@include min(dxxl) {
			margin-top: vw(50);
		}
	}
}
