doctype html

block vars
include ../mixins/mixins

html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Tantor')
		meta(name='keywords', content='')

		link(href='css/main.min.css', rel='stylesheet', type='text/css')
		title= `${page.title}`

	body
		include ../blocks/header

		main.main
			block main

		include ../blocks/footer

	block modals

	script(src='https://unpkg.com/lenis@1.3.21/dist/lenis.min.js')
	script(src="js/main.min.js" defer)

	block scripts
