@keyframes flicker {
	0% {
		opacity: 0.1;
	}
	15% {
		opacity: 0.9;
	}
	25% {
		opacity: 0.3;
	}
	35% {
		opacity: 1;
	}
	45% {
		opacity: 0.7;
	}
	50% {
		opacity: 1;
	}
	53% {
		opacity: 0.8;
	}
	55% {
		opacity: 1;
	}
	60% {
		opacity: 0.8;
	}
	65% {
		opacity: 1;
	}
	70% {
		opacity: 0.9;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fastRotate {
	0%,
	50%,
	100% {
		transform: rotate(0);
	}

	25% {
		transform: rotate(4deg);
	}

	75% {
		transform: rotate(-4deg);
	}
}

@keyframes fastRotateReverse {
	0%,
	50%,
	100% {
		transform: rotate(0);
	}

	25% {
		transform: rotate(-4deg);
	}

	75% {
		transform: rotate(4deg);
	}
}

@keyframes moveRotate {
	0% {
		transform: translate(65px, -30px) rotate(4deg);
	}

	25% {
		transform: rotate(0);
	}

	50%,
	75% {
		transform: translate(65px, -30px) rotate(-4deg);
	}

	100% {
		transform: translate(65px, -30px) rotate(4deg);
	}
}

@keyframes moveRotate2 {
	0%,
	50%,
	100% {
		transform: translate(60px, -30px) rotate(-4deg);
	}

	25% {
		transform: rotate(0);
	}

	75% {
		transform: translate(-20px, -10px) rotate(4deg);
	}
}

@keyframes centeredRotate {
	0%,
	50%,
	100% {
		transform: rotate(0);
	}

	25% {
		transform: rotate(-4deg);
	}

	75% {
		transform: rotate(4deg);
	}
}
